gunicorn
Flask
codecs
requests
ezmarkdown
markdown
markdown2
BeautifulSoup==3.2.1
beautifulsoup4==4.5.3
bs4==0.0.1
ipython==5.3.0
ipython-genutils==0.2.0
Jinja2
jsonschema
jupyter-core
MarkupSafe
nbformat
nbconvert
packaging
pathlib2
pickleshare
prompt-toolkit
Pygments
pyparsing
python-dateutil
scandir
simplegeneric
six
traitlets
wcwidth
wheel
contentful==1.2.0
